.about-section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    header {
      text-align: center;
      h1 {
        font-size: 2.5em; // Large font for the main heading
        margin-bottom: 10px;
      }
      p {
        color: #666; // Placeholder for text color
        margin-bottom: 20px;
      }
    }
  
    .tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      button.tab {
        background-color: #fff; // Unselected tab background
        color: #333; // Unselected tab text color
        border: 1px solid #ddd;
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          background-color: #f8f8f8; // Hover state background
        }
        &.active {
          background-color: #007bff; // Active tab background
          color: #fff; // Active tab text color
          border-color: #007bff;
        }
      }
    }
  
    .tab-content {
        
      display: flex;
      align-items: flex-start;
      border: 1px solid #ddd;
      padding: 20px;
      .history-image {
        width: 50%; // Half of the container width
        margin-right: 20px;
        img {
          width: 100%;
          display: block;
          border-radius: 4%;
        }
      }
      .history-text {
        width: 50%;
        margin-top: 3%;
        margin-left: -26%;
        h2 {
          font-size: 1.5em; // Heading size for the section titles
          margin-bottom: 10px;
        }
        p {
          color: #333; // Text color for the content
          line-height: 1.6;
          width: 100%;
        }
      }
      .vision-text {
        width: 50%;
        margin-top: 3%;
        margin-left: -26%;
        h2 {
          font-size: 1.5em; // Heading size for the section titles
          margin-bottom: 10px;
        }
        p {
          color: #333; // Text color for the content
          line-height: 1.6;
          width: 100%;
        }
      }
      .goals-text {
        box-shadow: #c6c3c3;
        width: 50%;
        margin-top: 3%;
        margin-left: -26%;
        h2 {
          font-size: 1.5em; // Heading size for the section titles
          margin-bottom: 10px;
        }
        p {
          color: #333; // Text color for the content
          line-height: 1.6;
          width: 100%;
        }
      }
    }
  }
  
  // General body styling
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }

  .hidden{
    display: none;
  }